/* Change header background */
#header {
    background-color: #2d2d2d;  /* Dark grey */
}

/* Change module headers */
.module h2 {
    background-color: #5a9;  /* Soft green */
    color: white;
}

/* Change overall background */
body {
  background: red;
}
